/*Preferenze generali*/
html{
    background-color: black;
    font-family: 'Rubik', sans-serif;
    color: var(--sfondo_card);
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body{
    margin: 0em;
    top:0;
    height: -webkit-fill-available;
}
section{
    background-color: var(--sfondo);
    padding: 1.5em;
    height: -webkit-fill-available;
}
h1,h2,h3,h4{
    user-select: none;
    font-family: 'Cairo', sans-serif;
}
i{
    font-size: 2.8em;
}
/*Variabili globali e import*/
:root {
    --sfondo_card: #fbfafa;
    --due: #b1bad6;
    --tre: #7531e6;
    --quattro: #db5353;
    --sfondo: #353858;
}
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&family=Rubik&display=swap');

/*#########################*/
/*-----------GAME----------*/
/*header*/
#game > .header{
    display:flex;
}
#ava{
    margin-top: 0.5em;
    position: relative;
}
#ava > i {font-size: 2.2em;}
#ava > i:nth-child(2) {
    position: absolute;
    left: 0px;
}
.header > h4 {
    font-size:2em;
    margin-top: 0.4em;
    margin-left:0.25em;
}
#notifiche{
    margin-left: auto;
    font-size: 0.9em;
    margin-top:0.15em;
    margin-right:0.7em;
}
/*time*/
#time > h3{
    text-align: center;
}




