/*Variabili globali e import*/
:root {
    --sfondo_card: #fbfafa;
    --due: #b1bad6;
    --whitey: #d7d7d7;
    --tre: #7531e6;
    --quattro: #db5353;
    --sfondo: #353858;
    --hint:#7531e6;
    --hintshadow:#7531e69c;
    --chall:#cb2a48;
    --challshadow:#e631319c;
    --base:#292530;
    --baseshadow:#2b2a2c9c;
}
/*Preferenze generali*/
html{
    background-color: black;
    font-family: 'Rubik', sans-serif;
    color: var(--sfondo_card);
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body{
    margin: 0em;
    width: 100%;
    top:0;
    height: -webkit-fill-available;
    overflow:hidden;
}
section{
    background-color: var(--sfondo);
    padding: 1.5em;
    height: -webkit-fill-available;
    transition: 0.3s opacity, 0.3s transform;
    opacity: 0;
    display: none;
    transform: translateX(50%);
}
section.onopacity{
    opacity: 1;
    transform: translateX(0%);
}
h1,h2,h3,h4,h5,h6{
    user-select: none;
    font-family: 'Cairo', sans-serif;
}
i{
    font-size: 2.8em;
}
.br {
    flex-basis: 100%;
    width: 7em;
    margin-top: 1em;
}
.br:not(:first-child) {
    margin-top: 2em;
}
/*colors*/
#time{color: var(--whitey)}
.read{animation: read 0.5s infinite;}
@keyframes read {
    0%{opacity: 1;}
    100%{opacity: 0.5;}
}
.pulse{animation: pulse 0.5s infinite;}
@keyframes pulse {
    0%{transform: scale(1);}
    100%{transform: scale(0.97);}
}
/*#########################*/
/*-----------GAME----------*/
#game{
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
#game.on{
    display: flex;
}
/*header*/
#game > .header{
    display:flex;
    align-items: center;
    height: 2em;
}
.header > h4 {
    font-size:1.5em;
}
div.header > div{
    height: min-content;
    font-size: 0.7em;
}
#broadcast{
    margin-left: auto;
    margin-right: 1em;
    position: relative;
}
#broadcast.read::before {
    content: " ";
    background-color: red;
    height: 10px;
    width: 10px;
    top: 0px;
    right: 0px;
    position: absolute;
    border-radius: 20px;
}
/*footer*/
#game > .footer{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    height: 3em;
    bottom:0.3em;
    right:1em;
}
div.footer > div{
    height: min-content;
}
#book{
    font-size: 0.6em;
    color: var(--whitey);
}
#book > p{
    position: absolute;
    font-size: 2.5em;
    margin: 0px;
    bottom: 12px;
    left: 1em;
    opacity: 0;
    transform: translate(-100%, 0);
    transition: opacity 0.4s, left 0.4s;
}
#book.label > p{
    left: -0.3em;
    opacity: 1;
}
/*time*/
#time > h3{
    text-align: center;
    font-weight: 500;
    margin-top:0.1em;
}
/*hunted*/
#hunted{
    background-color: var(--sfondo_card);
    display: flex;
    align-items: center;
    margin-top:-0.5em;
    height: 4em;
    padding: 0.8em;
    border-radius: 0.5em;
}
#hunted > img{
    height: 4em;
    width: 4em;
    border-radius: 2em;
    margin-left: 0.3em;
}
#hunted > div{
    color: var(--sfondo);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#hunted > div > h3{
    margin: 0;
    margin-bottom: 0.1em;
    font-family: 'Rubik', sans-serif;
}
#hunted > div > h4{
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
}
/*map*/
#map {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 1em;
    height: 50%;
    position: relative;
}
#map > img {
    position: absolute;
    height: 100%;
    top: 0px;
}
#map > img.dot {
    animation: dot 0.5s linear infinite alternate-reverse;
}
@keyframes dot {
    0%{
        filter:brightness(0);
        opacity: 0.5;
    }
    100%{
        filter:brightness();
        opacity: 1;
    }
}
#map > img.pin {
    animation: pin 0.3s cubic-bezier(1, 0, 1, 1) infinite alternate-reverse;
}
@keyframes pin {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(10px);
    }
}
/*hint*/
#hint{
    background-color: var(--base);
    box-shadow: 3px 3px 10px 0px var(--baseshadow);
    display: flex;
    align-items: center;
    margin-top:-0.5em;
    padding: 1em;
    border-radius: 5em;
    margin-bottom: 3em;
    height: 3em;
    transition: background-color .3s, box-shadow .3s;
}
#hint > i {font-size: 2em; margin-left:0.2em}
#hint > div{
    color: var(--sfondo_card);
    margin-left: 0.8em;
}
#hint > div > h3{
    margin: 0;
    margin-bottom: 0.1em;
    line-height: 1em;
    font-weight: 500;
}
#hint:active{
    transform: scale(0.9);
}
#hint[data-type="chall"] {
    background-color: var(--chall);
    box-shadow: 3px 3px 10px 0px var(--challshadow);
}
#hint[data-type="hint"] {
    background-color: var(--hint);
    box-shadow: 3px 3px 10px 0px var(--hintshadow);
}
/*hintscreen*/
#hintcontainer{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 110%;
    left: 0;
    box-sizing: border-box;
    padding: 1.5em;
    z-index: 10;
    transition: top 0.4s;
}
#hintcontainer.open{
    top: 0%;
}
#hintscreen{
    background-color: var(--base);
    box-shadow: 3px 3px 10px 0px var(--baseshadow);
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 0.8em;
    box-sizing: border-box;
    padding: 1.5em;
    position:relative;
    overflow: hidden;
    transition: background-color 0.3s, box-shadow 0.3s;
}
#hintscreen > p{
    top: 0px;
    right: 13px;
    font-size: 3em;
    position: absolute;
    margin: 0;
}
#hintscreen > h1{
    margin: 0;
}
#hintscreen.chall{
    background-color: var(--chall);
    box-shadow: 3px 3px 10px 0px var(--challshadow);
}
#hintscreen.hint{
    background-color: var(--hint);
    box-shadow: 3px 3px 10px 0px var(--hintshadow);
}
/*hintmenu*/
#hintmenu{
    display: flex;
    justify-content: space-around;
}
#hintmenu > p{
    padding: 0.5em;
    border-bottom: solid transparent;
    padding-bottom: 0.2em;
    transition: all 0.3s;
    height: 1.2em;
}
#hintmenu > p.cur{
    background-color: #ffffff3b;
    border-bottom: solid white;
    height: 1.2em;
}
/*hintcontent*/
#hintcontent {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 84%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
#hintcontent > a {
    color: white;
}
.hintrow{
    border-bottom: solid #ffffff6b;
    width: 100%;
}
.hintrow > h2{
    margin-bottom: 0.2em;
}
.hintrow > img{
    max-width: 100%;
}
.hintrow > video{
    max-width: 100%;
}
.hintrow > h4{
    margin-top: 0.3em;
    font-weight: 400;
    line-height: 1.2em;
}
.hintrow.chall::before {
    content: "Premio sfida";
    background-color: var(--chall);
    padding: 4px;
    padding-left: 6px;
    padding-right: 7px;
    font-size: 0.8em;
    right: 2em;
    border-radius: 22px;
    position: absolute;
}
/*newsscreen*/
#newscontainer{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 110%;
    left: 0;
    box-sizing: border-box;
    padding: 1.5em;
    z-index: 10;
    transition: top 0.4s;
}
#newscontainer.open{
    top: 0%;
}
#newsscreen{
    background-color: var(--base);
    box-shadow: 3px 3px 10px 0px var(--baseshadow);
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 0.8em;
    box-sizing: border-box;
    padding: 1.5em;
    position:relative;
    transition: background-color 0.3s, box-shadow 0.3s;
}
#newsscreen > p{
    top: 0px;
    right: 13px;
    font-size: 3em;
    position: absolute;
    margin: 0;
}
#newsscreen > h1{
    margin: 0;
}
#newscontent > .hintrow.chall::before {
    content: "Messaggio diretto";
    background-color: var(--tre);
    padding: 4px;
    padding-left: 6px;
    padding-right: 7px;
    font-size: 0.8em;
    right: 2em;
    border-radius: 22px;
    position: absolute;
}
/*-----------TEAMS----------*/
#teamstab{
    position: absolute;
    width: -webkit-fill-available;
    top: 0px;
    flex-direction: column;
    flex-wrap: nowrap;
}
#teamstab.on{
    display: flex;
}
#teamstab > div > p{
    font-size: 1.3em;
    margin: 1em 1em 0 0;
}
#teamstab > div > h4{
    margin: 0.5em 0;
}
#teamstab > .content{
    height: 80%;
    overflow-y: scroll;
}
/*-----------RULES----------*/
#rules{
    position: absolute;
    top: 0px;
    flex-direction: column;
    flex-wrap: nowrap;
}
#rules.on{
    display: flex;
}
#rules > div > p{
    font-size: 1.3em;
    margin: 1em 1em 0 0;
}
#rules > div > h4{
    margin: 0.5em 0;
}
#rules > .content{
    height: 85%;
    overflow-y: scroll;
}
/*-----------QR----------*/
#QR{
    position: absolute;
    top: 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
}
#QR.on{
    display: flex;
}
#QR > div > p{
    font-size: 1.3em;
    margin: 1em 1em 0 0;
}
#QR > div > h4{
    margin: 0.5em 0;
}
#QR > .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#QR > .content > input{
    font-size: 4em;
    width: 5em;
    letter-spacing: 0.2em;
    text-align: center;
    border-radius: 2em;
    font-family: 'Rubik';
}
#QR > .content > button {
    font-size: 2em;
    width: 5em;
    background-color: var(--tre);
    text-align: center;
    border: none;
    color: white;
    padding: 0.5em;
    margin: 1em;
    font-family: 'Rubik';
}
/*-----------EXTRA----------*/
.emote > i {
    border: white solid 4px;
    padding: 12px;
    border-radius: 15px;
}
.emote {
    margin: 0.5em;
    margin-top: 2em;
    margin-bottom: 1em;
    transform:scale(1);
    transition: 0.3s transform;
}
.emote:active {
    transform:scale(0.9);
}
/*-----------LANDING----------*/
#landing{
    position: absolute;
    top: 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    height: -webkit-fill-available;
    padding-top: 1em !important;
}
#landing.on{
    display: flex;
}
#landing > div.header > img {
    width: 26%;
    right: 1.5em;
    position: absolute;
}
#landing > div.header > h1 {
    font-size: 2em;
    padding-left: 0.3em;
}
#landing > div.content > h4 {
    font-size: 1.5em;
    font-family: 'Rubik';
}
#landing > .content {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#landing > .content > input {
    font-size: 3em;
    width: 5em;
    letter-spacing: 0.2em;
    text-align: center;
    border-radius: 15px;
    font-family: 'Rubik';
}
#landing > .content > button {
    font-size: 2em;
    background-color: var(--tre);
    text-align: center;
    border: none;
    color: white;
    margin: 1em;
    border-radius: 51px;
    padding: 0.5em 1em 0.5em 1em;
    font-family: 'Rubik';
}